.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  width: 300px;
  height: 150px;
  margin-left: 57px;
  border-radius: 30px;
}

.carousel img{
  background-color: aliceblue;
  width: 240;
  height: 170px;
  border-radius: 20px;
}



