
.star-rating{
    cursor: pointer;
    
}


.stars{
    transition: color 400ms;
    cursor: pointer;
    padding-left: 5px;
}

.stars:hover{
    transform: scale(1.3);
}

.star-rating input{
    display: none;
}